<div class="topic-author" id="LatestTopicAuthor">
  <UserLink @user={{topic.creator}}>
    {{avatar topic.creator imageSize="large"}}
  </UserLink>
  <UserAvatarFlair @user={{topic.creator}} />
</div>
