<div class="topic-author">
  <UserLink @user={{this.topic.lastPosterUser}}>
    {{avatar this.topic.lastPosterUser imageSize="large"}}
  </UserLink>
  <UserAvatarFlair @user={{this.topic.lastPosterUser}} />
</div>
