   <div class="topic-author" id="LatestAuthor">
    <UserLink @user={{this.topic.creator}}>
      {{avatar this.topic.creator imageSize="large"}}
    </UserLink>
    <UserAvatarFlair @user={{this.topic.creator}} />
   </div>
