<div class="topic-author">
    <UserLink @user={{this.topic.creator}}>
      {{avatar this.topic.creator imageSize="large"}}
    </UserLink>
    <UserAvatarFlair @user={{this.topic.creator}} />
</div>
