  <div class="topic-author" id="LatestTopicAuthor">
    <UserLink @user={{this.topic.creator}}>
      {{avatar this.topic.creator imageSize="large"}}
    </UserLink>
    <UserAvatarFlair @user={{this.topic.creator}} />
   </div>
