td.posters {
  display:none;
}

@if $poster_column_placement == "first" {
  
  .topic-list-header {
    .posters.topic-list-data {
      span {
        visibility: hidden;
        &:before {
          content: "#{$poster_column_label}";
          visibility: visible;
        }
      }
    }
  }
}


.topic-list .posters {
    width: 70px;
}
