td.posters {
  display:none;
}

.topic-list-header {
    .posters.topic-list-data {
      span {
        visibility: hidden;
        &:before {
          content: "#{$poster_header_label}";
          visibility: visible;
        }
      }
    }
}

.topic-list .posters {
    width: 70px;
}
