td.posters {
  display:none;
}
.topic-list .posters {
    width: 70px;
}

.latest-topic-list-item {
  .topic-author {
    position: relative;
    width: 60px;
  }
  .topic-poster {
    display: none;
  }
}
